@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    font-family: Roboto, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
}

.header h1 {
    font-size: 1.5rem;
}

.container {
    flex: 1; /* Hace que este div ocupe todo el espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;

    background-image: url('images/dark_abstract_background.png');
    background-size: cover;
    background-position: center;
}

.choices {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.choices button {
    flex: 1;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: 5px solid #333;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    max-width: 200px;
    height: 250px;
}

.choices button:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.rock-choice {
    background-image: url('images/rock.svg');
}
.paper-choice {
    background-image: url('images/paper.svg');
}
.scissors-choice {
    background-image: url('images/scissors.svg');
}

.result-scoreboard {
    margin-top: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: #fff;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.title-scoreboard {
    border-bottom: 1px solid #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2rem;
}

.Scoreboard {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.Scoreboard div {
    font-weight: bold;
}

.player-score, .computer-score {
    text-align: center;
    padding: 13px 0;
}